* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
}

.menuBoxContainer {
    width: 33.3%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-top: 20px;
}

.menuBox {
    border: 1px solid black;
}

.menuPositionTitle {
    font-size: 20px;
    width: 80px;
    text-align: center;
    text-transform: capitalize;
    float: right;
    border: 1px solid black;
    margin-top: -1px;
    margin-right: -1px;
}

.menuPositionContent {
    clear: both;
    padding: 10px;
}

#box1 .menuPositionTitle{
    background-color: #d59999;
}

#box2 .menuPositionTitle{
    background-color: #c14644;
}

#box3 .menuPositionTitle{
    background-color: #e5d199;
}

@media (max-width: 767px) {
    .menuBoxContainer {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md_50 {
        width: 50%;
    }

    .md_100 {
        width: 100%;
    }
}

@media (min-width: 991px) {

}

